{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h1 class="display-3">Bienvenue à la galerie d'art!</h1>
		<p class="lead">Sur cette galerie vous trouverez tout les tableaux crée par Vénus Boursaut.</p>
		<hr class="my-4">
		<p>Si un tableau vous intéresse n'hesiter pas a nous en informé via l'article. Si vous souhaitez commander qur un thèmes en particulier ce sera via la page contact.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg docs-creator" href="#" role="button">Contact</a>
		</p>
	</div>

	{% include 'partials/card.article.html.twig' with articles %}


{% endblock %}
