{% extends 'base.html.twig' %}
{% block body %}


	<div class="container py-3">

		<h1>Supprimer un Article</h1>
		<div class="alert alert-dismissible alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Article supprimer</strong>
			You successfully read
			<a href="#" class="alert-link docs-creator">this important alert message</a>.
		</div>

	</div>
{% endblock %}
